*/History/*
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
*\__Previews
*\History
*.PrjPcbStructure
*~$*
*.Zip
*.rar
*.DesWrk
*.DsnWrk
*.PrjGrp
*.PrjScr
*.PrjPCBStructure
*.Dot
*.SchDot
*.CmpLib
*.PvLib
*.Apr
*.Apt
*.Cam
*.Drl
*.G[1-30]
*.Drc
*.Drr
*.Net
*.Nsx
*.OutJob
*.Rep
*.Rpt
*.Bas
*.SrcDoc
*.Tcl
*.Ckt
*.LaxAn
*.LaxDig
*.Mdl
*.Pld
*.Pwl
*.Sdf
*.Si
*.So
__Previews/
History/
*.BomDoc
*.DBLib
*.DBLink
# Altium Database Link File
Project\ Outputs
Project\ Logs
Project Outputs for*
*.Dat
*.REP 
*.TLT
*.LOG
*.log
*.htm
*.$$$
*.html
